.nav  {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    height: 6vh;
    background: #082287;
}
.one {
    display: flex;
    align-items: center;
    width: 50%;
}
.h1 {
font-weight: 900;
padding: 25px;
}
.two {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
 
}
.ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
.li {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    margin-right: 15px;
}
